@page "/counter"
@using Blazor_Frontend.Shared
@using System.Text.Json
@using System.Text.Json.Serialization;
@using System.Net.Http.Json
<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<button class="btn btn-secondary" @onclick="getResponse">Call API</button>
@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }


    private async void getResponse()
    {
        HttpClient client = new HttpClient();
        var userLists = new List<UserMovieListModel>();
        try
        {
            var user = await HttpClientJsonExtensions.GetFromJsonAsync<UserMovieListModel>(client,"https://locksley.dev:1313/user?u=sigmasalt");
            if (user != null){
                userLists.Add(user);
                Console.WriteLine("Added " + user);
            }
        }
        catch(HttpRequestException e)
		{
			Console.WriteLine("\nException Caught!");	
			Console.WriteLine("Message :{0} ",e.Message);
		}
    }
}
